<html>
<body>
	<h2>translation loaded from server</h2>
	<h4>just add a script file with a function declaring the controller</h4>
	<h4>will make a get request like <a href="http://localhost:8080/api/resources?lang=en">http://localhost:8080/api/resources?lang=en</a></h4>
	<h4>the path is declared in <a href="/i18n-server.js">i18n-server.js</a></h4>
	<h4> $translateProvider.useUrlLoader('api/resources');</a></h4>
	
	<div ng-app="i18n-app">
	<h1>{{ 'TITLE' | translate }}</h1>
		<div ng-controller="i18nCtrl">
		<p>everything you want to translate must be inside the application</p>
		<p>did not expect, but also translates outside the controller</p>

			First Name: <input type="text" ng-model="person.firstName"><br> Last Name: <input type="text"
				ng-model="person.lastName"><br> <br> Full Name: {{person.firstName + " " + person.lastName}}

			<div >
				<button class="btn ng-scope" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN">english</button>
				<button class="btn ng-scope" ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE">german</button>
			</div>

		</div>


	</div>

	</script>
	<script type="text/javascript" src="thirdparty/angular/angular.js"></script>
	<script type="text/javascript" src="thirdparty/angular-translate/angular-translate.js"></script>
	<script type="text/javascript" src="thirdparty/angular-translate/angular-translate-loader-url.js"></script>
	<script type="text/javascript" src="i18n-server.js"></script>
	

</body>
</html>
