<html>
<body>
<h2>angluar basics</h2>
<a href="two-controller.html">working with two controller</a>
<br>
<a href="load-js-from-file.html">loading js from file</a>
<br>
<a href="i18n.html">translate using angular-translate, also binds buttons to controller functions</a>
<br>
<a href="i18n-server.html">angular-translate, getting translation from a server</a>
<br>
<br>
<div ng-app="" ng-controller="personController">

First Name: <input type="text" ng-model="person.firstName"><br>
Last Name: <input type="text" ng-model="person.lastName"><br>
<br>
Full Name: {{person.firstName + " " + person.lastName}}

</div>

<script>
function personController($scope) {
    $scope.person = {
        firstName: "John",
        lastName: "Doe"
    };
}
</script>
	<script type="text/javascript" src="thirdparty/angular/angular.js"></script>
</body>
</html>
