<html>
<body>
<h2>load js from file</h2>
<h4> just add a script file with a function declaring the controller </h4>
<div ng-app="loaded-app" >
<div ng-controller="firstController">

First Name: <input type="text" ng-model="person.firstName"><br>
Last Name: <input type="text" ng-model="person.lastName"><br>
<br>
Full Name: {{person.firstName + " " + person.lastName}}

</div>


</div>

</script>
	<script type="text/javascript" src="thirdparty/angular/angular.js"></script>
	<script type="text/javascript" src="load-js-from-file.js"></script>
	
</body>
</html>
