<html>
<body>
<h2>two controller</h2>
<h4> you have two put all controllers inside the app tag </h4>
<div ng-app="" >
<div ng-controller="firstController">

First Name: <input type="text" ng-model="person.firstName"><br>
Last Name: <input type="text" ng-model="person.lastName"><br>
<br>
Full Name: {{person.firstName + " " + person.lastName}}

</div>

<script>
function firstController($scope) {
    $scope.person = {
        firstName: "John",
        lastName: "Doe"
    };
}
</script>

<div ng-controller="secondController">

First Name2: <input type="text" ng-model="person.firstName"><br>
Last Name:2 <input type="text" ng-model="person.lastName"><br>
<br>
Full Name2: {{person.firstName + " " + person.lastName}}

</div>
</div>

<script>
function secondController($scope) {
    $scope.person = {
        firstName: "John1",
        lastName: "Doe2"
    };
}
</script>
	<script type="text/javascript" src="thirdparty/angular/angular.js"></script>
</body>
</html>
