@CHARSET "UTF8";
form{
	 margin-top: 10px; 
}
.row{
	 margin-top: 10px; 
}
textarea{
	 
	 height:400px !important;
}
label{
	 margin-top: 20px; 
}
button{
	 width: 65px; 
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}
