<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p th:text="${key1}">
      will be replaced by value1
    </p>
    <p th:text="#{message.earth}">
      will be replaced by Earth
    </p>
  </body>
</html>